:root {
    --white-color: #FFF;
    --black-color: #000;
    --text-color: #333;
    --heading-color: #F79520;
    --background-color: #F79520;
    --font-heading: "Overlock",Arial,Helvetica,sans-serif;
    --font-services-info: #F79520;
    
}

* {
    box-sizing: inherit;
}

html {
    line-height: 14px;
    font-size: 15px;
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid {
    width: 1240px;
    margin: 80px auto;
    padding: 0 20px;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* button */
.btn {
    background-color: #FFF;
    text-align: center;
    color: #F79520;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn:hover {
    color: #FFF;
}
.btn::after {
    content: "";
    background: #F79520;
    position: absolute;
    z-index: -1;
    display: block;
}
  
.btn.btn-support::after {
    transition: all 0.3s ease;
  }
.btn.btn-support:hover::after {
    transition: all 0.3s ease-out;
}
  
.btn.btn-support::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
}
.btn.btn-support:hover::after {
    transform: scale(1, 1);
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes opacityshow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Mobile: width < 440px */
@media only screen and (max-width: 26.875em) {
    .grid {
        /* width: 46.1875em; */
        margin: 0 auto;
    }
    
    .container__services__detail {
        display: flex;
        flex-direction: column;
        margin: 30px;
        flex-wrap: wrap;
    }

    .container__services__item1,
    .container__services__item2,
    .container__services__item3,
    .container__services__item4 {
        margin-bottom: 20px;
    }

    /* ======================== */
    /* header */
    .header {
        max-width: 26.875em !important;
        margin: 0 !important;
    }

    .header__reset-css {
        max-width: 26.875em;
    }

    .header__right-subject-item {
        position: relative;
        padding: 18px 7px;
        cursor: pointer;
        margin: 0 10px;
        font-weight: 600;
        text-align: center;
    }

    .header-container {
        max-width: 26.875em !important;
        padding: 0;
    }
    
    /* ================== */
    /* footer */
    .footer {
        max-width: 26.875em;
    }

    .footer_father {
        max-width: 26.875em;
        display: flex;
        flex-direction: column;
    }
    
    .container__about {
        width: 100% !important; 
    }

    .container__about1 {
        width: 100% !important;
    }

    .container__about2 {
        display: flex;
        flex-direction: column;   
        width: 100% !important;
    }

    .container__content {
        width: 100% !important;
        margin-left: -20px;
    }

}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* .container__services__detail {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    } */
}
