/* header */
.header {
    max-width: 100%;  
    position: fixed;
    z-index: 9999;
    min-height: 70px;
    top: 0;
    /* background-color: #fff; */
    box-shadow: 0 2px 2px -2px #ccc;
    margin: -80px 0 0 0;
}

.header__reset-css {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    background-color: #FFF;
}

.header-container {
    margin-bottom: 0;
    display: flex;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.header__left {
    display: flex;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__logo-img {
    height: 68px;
    max-width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
}


.header__right-subject {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header__right-subject-item-link {
    text-decoration: none;
    color: var(--text-color);
}

.header__right-subject-item {
    position: relative;
    padding: 27px 15px;
    cursor: pointer;
    margin: 0 10px;
    font-weight: 600;
}
.header__right-subject-item:hover {
    color: var(--font-services-info);
}

.header__right-subject-item::after {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    height: 3px;
    background-color: #F79520;
    transform: scaleX(0);
    transform-origin: left;
    transition: 400ms ease all;
    opacity: 0;
}

.header__right-subject-item:hover.header__right-subject-item::after {
    opacity: 1;
    transform: scaleX(1);
}


/* hide-show sub__menu */
.header__right-subject-item:hover .sub__menu{
    display: block;
}

.sub__menu {
    display: none;
    position: absolute;
    list-style: none;
    min-width: 180px;
    top: 100%;
    right: 0;
    background-color: #FFF;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    padding: 0;
    transform-origin: calc(100% - 20px) top;
    animation: subMenuGrowth ease-in 0.3s;
    will-change: opacity, transform;
}

@keyframes subMenuGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: 1;
    }
}

.sub__menu a{
    text-decoration: none;
    color: var(--text-color);
    width: fit-content;
}

.sub__menu li {
    padding: 15px 15px;
    font-weight: 100;
}

.sub__menu li:hover {
    background-color: var(--background-color);
    color: var(--white-color);
}

/*==============================================================
CONTAINER */
/* slide banner*/
/* Slideshow container */
.container__brand {
    margin-bottom: 80px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


.slide__banner-img {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat; 
    background-size: 100%;
}

.slide__banner-img1{
    background-image: url(../img/banner_home/banner_1.png);
}

.slide__banner-img2{
    background-image: url(../img/banner_home/banner_2.png);
}

.slide__banner-img3{
    background-image: url(../img/banner_home/banner_3.png);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--background-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    left: 15px;
    border-radius: 3px 0 0 3px;
}

.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--background-color);
  color: var(--white-color);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* 3 button click change */
.brand__click {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.brand__click-change {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .brand__click-change:hover {
  background-color: var(--font-services-info);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.7}
  to {opacity: 1}
}



/* container services */
.container__in {
    padding-top: 80px;
    margin-top: -80px;
}
.container {   
    margin-top: 70px;
}

.container__services {
    display: block;    
}

.container__services--font {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.container__services--font-heading {
    margin: auto;
    font-family: "Overlock",Arial,Helvetica,sans-serif;
    font-size: 3.75rem;
    line-height: 1.066;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--font-services-info);
}

.container__services--font-heading-content {
    margin: auto;
    font-size: 1.375rem;
    margin-top: 0.7em;
    line-height: 1.4;
    font-family: "Noto Serif",Arial,Helvetica,sans-serif;
    color: var(--font-services-info);
}


.container__services__detail {
    display: flex;
    justify-content: space-between;
}

.container__services__item1,
.container__services__item2,
.container__services__item3,
.container__services__item4 {
    flex-basis: 24%;
    padding: 2em;
    display: block;
    transition: all 600ms ease;
    border-radius: 30px;
}

.container__services__item1 {
    background: linear-gradient(0deg, rgb(186,236,202) 0%, rgb(236,237,162) 100%);
}

.container__services__item2 {
    background: linear-gradient(0deg, rgb(255,209,252) 0%, rgb(250,208,198) 100%);;
}

.container__services__item3 {
    background: linear-gradient(0deg, rgb(172,203,238) 0%, rgb(231,240,253) 100%);
}

.container__services__item4 {
    background: linear-gradient(0deg, rgb(228,238,255) 0%, rgb(241,232,236) 100%);
}


.container__services__item--icon {
    margin-bottom: 30px;
}

.container__services__item--icon i{
    font-size: 70px;
    color: #F79520;
}

.container__services__item--name {
    margin-bottom: 20px;
}

.name--heading {
    font-weight: 600;
    font-family: "Overlock",Arial,Helvetica,sans-serif;
    font-size: 2rem;
    line-height: 1.25;
    color: var(--heading-color);
    display: block;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    min-height: 93.75px;
    text-transform: uppercase;
}

.container__services__item--info {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5em;
    min-height: 65px;
}

/* button services css */
.container__services__item--button-link {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnservices{
    border-radius: 50px;
    padding: 1.322em 1.5em;
    background-color: #FFF;
    text-align: center;
    color: #F79520;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
}
.btnservices:hover {
    color: #FFF;
}
  .btnservices::after {
    content: "";
    background: #F79520;
    position: absolute;
    z-index: -1;
    display: block;
}
  
.btnservices.container__services__item--button::after {
    transition: all 0.3s ease;
  }
.btnservices.container__services__item--button:hover::after {
    transition: all 0.3s ease-out;
}
  
.btnservices.container__services__item--button::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
}
.btnservices.container__services__item--button:hover::after {
    transform: scale(1, 1);
}

/*programs and products*/
.container__product {
    padding-top: 80px;
    margin-top: -80px;
}

/* .headprd {
    display: flex;
} */

.headprd__content__product {
    display: flex;
}

.headprd__head-font {
    width: 40%;
    min-height: 200px;
    margin: auto;
}

.font-size-hdprd {
    font-size: 3rem;
    line-height: 1.55;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headprd__head-font__info {
    color: var(--font-services-info);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-self: center;
}

.headprd__product__item__hlink {
    color: var(--font-services-info);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    height: fit-content;
    width: 50%;
}

/* Product grid */
.header__product__frame {
    display: flex;
    width: 50%;
    margin: 0;
}

.product__frame-father-only2product {
    padding: 15px 15px;
    width: 50%;
}

.product__frame-father {
    padding: 15px 15px;
    width: 25%;
}

.headprd__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.headingprd-first {
    margin-left: 30px;
}

.headprd__product__item--button-link {
    color: var(--font-services-info);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    height: fit-content;
    width: 25%;
}
.headprd__icon-size {
    margin-bottom: 20px;
    font-size: 65px;
}

.product__frame-4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*footer*/
.footer {
    position: relative;
    width: 100%;
    background: #175C62;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0; 
}
.footer .footer_father{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1200px;
}
/* about */
.container__about{
    width: 25%;
    color: #FFF;
    /* margin-left: -50px; */
    line-height: 1.5;
}
.container__about1{  
    margin-left: -130px;
}
.container__about1 h2{
    position: relative;
    color: #fff;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 40px;
}
.container.container__about::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;

}
.container__about1__list{
    list-style: none;
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
}
.container__about__list--link{
    text-decoration: none;
    color: #FFF;
}
.container__about2{
    margin-left: -50px;
    
}
.container__about2 h2{
    position: relative;
    color: #fff;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 60px;
}
/* content */
.container__content{
    
    margin-left: -90px;
}
.container__content__icon{
    display: flex;
    margin-left: 20px;
}
.container__content h2{
    position: relative;
    color: #fff;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 60px;
}
.container__content__icon li{
    list-style: none;
}
.container__content__icon li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #175C62;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #FFF;

}
.container__content__icon a{
    color: #FFF;
}

.container__content__icon li a:hover{
    background: #FFF;
    color: black;
}


.container__content__icon--call{
    color: #FFF;
    line-height: 2;
    margin-left: 60px;
}
.container__content__icon--mail{
    color: #FFF;
    line-height: 2;
    margin-left: 60px;
}
.container__content__icon--map{
    color: #FFF;
    line-height: 2;
    margin-left: 60px;
}

/* content */
.content__father{
    color: black;
    background-color: white;
}
.content__header{
    text-align: center;
}
.content__header__tag{
    font-size: 3rem;
    line-height: 1.05;
}
.content__header__tag--name{
    display: block;
    color: inherit;
}

.content__masonary{
    display: flex;
}
.content__masonary__title{
    width: 25%;
}

/* maybe sau này sẽ dùng nên để lại */
/* .content__masonary__title--image {
    
} */

.content__masonary__title--image-size {
    max-width: 100%;
    height: 137px;
}

/* medical network */ 
.medical__network{
    padding: 55px 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}
.medical__network__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.medical__network__title{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #3375b6;
    margin-bottom: 53px;
}
.medical__network__special{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.medical__network__special li{
    width: 33%;
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.medical__network__number{
    width: 110px;
    height: 110px;
    font-size: 36px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #FFF;
    background-color: #f79520;
    border-radius: 50%;
    font-weight: 900;
    margin-bottom: 16px;
}
.medical__network__text{
    display: block;
    width: 100%;
    text-align: center;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.medial__network__map{
    width: 486px;
}
.img-map{
    display: block;
    margin: auto;
    width: 483px;
    height: 625px;
    cursor: zoom-in;

}



/*
    =====================================================
    BMI_Online
*/
.containerBMI {
    margin-top: 150px;
}

.BMIcontent {
    max-width: 932px;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.BMI_header {
    display: flex;
    padding: 27px;
}

.BMI_header-img {
    width: 35%;
    padding: 0 15px;
    text-align: center;
    margin-left: 15px;
}

.BMI_header-img img {
    max-width: 100%;
}

.BMI_header-content {
    width: 65%;
}

.BMI_header--headerFont {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: var(--background-color);
}

.BMI_header--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.BMI_calc {
    background-color: #EAEAEA;
}

.box_calc {
    display: none;
}

.animationshowBox_calc {
    animation: opacityshow ease-in 0.7s;
}

.box_calc:first-child {
    display: block;
}

.box_calc__frame {
    max-width: 535px;
    margin: 0 auto;
    overflow: hidden;
    padding: 26px 0;
    display: flex;
}

.calc_frame-img {
    max-width: 256px;
    width: 50%;
    margin: 0 21px 0 0;
}

.calc_frame {
    overflow: hidden;
    padding: 62px 0 3px 2px;
}

.error-calc_bmi {
    display: block;
    color: var(--font-services-info);
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    opacity: 0;
}

.calc_frame__fontBox {
    font-size: 2.1rem;
    line-height: 26px;
    font-family: var(--font-heading);
    color: var(--background-color);
    font-weight: 700;
}

.calc_frame_input{
    display: flex;
}

.calc_frame_input-style {
    width: 177px;
    margin: 0 15px 0 0;
    border: solid #d1d3d4;
    border-width: 2px 0 0 2px;
    background: #fff;
    font-size: 26px;
    height: 44px;
    padding: 7px 15px;
    text-align: center;
    outline: none;
}

.calc_frame_input-fontUnit {
    padding: 10px 0 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}

.calc_frame_button {
    margin-top: 40px;
}

.calc_frame_button-style{
    display: block;
    width: 220px;
    height: 48px;
    background: #ed7954;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    border-radius: 10px;
    border-color: #ed7954;
    text-align: center;
}

.calc_frame_button-style:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: .5s ease-in-out;
}


/* result BMI */
.box_resul__frame{
    display: none;
    position: relative;
    padding: 72px 10px 15px;
}

.result_calc_bmi {
    background-color: var(--white-color);
    display: flex;
}

.result_calc_bmi-img {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 75px 10px 15px 10px;
}

.result_calc_bmi-img img {
    border: 0;
    max-width: 100%;
}

.result_calc_bmi-img-title {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    text-align: center;
}

.result_calc_bmi-img-title__span {
    display: inline-block;
    margin: 0;
    background: #414042;
    color: #fff;
    padding: 20px 28px;
    font-weight: bold;
    font-size: 2.125rem;
    line-height: 39px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

/* info result BMI */
.result_calc_bmi__info {
    overflow: hidden;
    background: #f6f6f6;
    padding: 35px 51px;
    color: #231f20;
}

.result__calc-font {
    margin: 0 0 25px;
}

.rating_bmi {
    display: flex;
}

.result__calc-font-style {
    font-size: 1.25rem;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 10px;
}

.result__calc-font-style-2 {
    display: block;
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: 700;
}

.rcfs1 {
    color: #8da0a1;
}

.rcfs2 {
    color: #A6BA52;
}

.rcfs3 {
    color: #FFC607;
}

.rcfs4 {
    color: #E66C6B;
}


#resutl__total__BMI {
    font-size: 1.25rem;
}

.result__calc-suggest, .result__calc-eplain {   
    margin: 26px 0;
    font-size: 16px;
    line-height: 24px;
}

.result__calc-learnMore {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    color: #4bbbc9;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
}

/* suggets */
.suggets {
    display: none;
    margin: 24px 0;
}

.suggets__alert, .suggets__after {
    padding: 30px 200px;
}

.suggets--i{
    color: #2D87F3
}

.suggets--span{
    margin-left: 4px;
    color: rgb(140, 140, 140);
    font-weight: 700;
}

.suggets--p{
    font-size: 16px;
    line-height: 26px;
    color: #262626;
    letter-spacing: 0px;
    font-weight: 400;
}

.question__detail {
    margin: 25px;
}

.question__detail__heading {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.question__detail__heading div{
    display: flex;
    align-items: center;
}

.question__detail__heading p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
}

.question__answer {
    padding: 1rem;
}

.question__answer-move {
    background-color: #F8F9FC;
    border-radius: 6px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}


.question__answer p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 1rem;
}

/* toggles */
.question__detail__heading-bold {
    font-weight: 700;
}

.showques {
    max-height: 500px;  
}


/* ~~~~~~~~~~~~~~~~~~~~ */
/* booking medical */
.booking__section{
    position: relative;
    display: flex;
    background-color: #fff;
    color:#175C62;
}
.booking{
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -20px;
    justify-content: space-between;
    
}
.booking__content{
    width: 600px;
}
.booking__headline{
    text-align: left;
    position: relative;
    display: block;
}
.booking__headline__tag{
    font-weight: 700;
    display: block;
    font-family: "Overlock",Arial,Helvetica,sans-serif;
    text-align: left;
    font-size: 3rem;
    line-height: 1.05;
}
.booking__headline__content{
    display: block;
    color: inherit;
    margin: 0;
    padding: 0;
}
.booking__subheadline{
    line-height: 1.4;
    font-weight: 500;
    font-style: italic;
    font-family: "Noto Serif",Arial,Helvetica,sans-serif;
    font-size: 1.25rem;
    margin-top: -20px;

}
.space{
    display: block;
    margin-bottom: 4em;
}
.booking__inner{
    margin-left: -0px;
    margin-right: -0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.booking__inner__location{
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
}
.booking__inner__content{
    color:#175C62;
    background-color: #FFF;
    width: 100%;
}
.booking__icon__location{
    margin: 0;
    max-width: 100%;
    display: inline-block;
    line-height: 1;
    color:#175C62;
}
.booking__icon__holder{
    font-weight: normal;
    display: flex;
    font-size: 2rem;
}
.border{
    margin-bottom: .5em;
    line-height: 0;
    display: block;
    clear: both;
}
.booking__inner__text p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: -1px;
}
.booking__inner__tag{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Inter';
    line-height: 1.35;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
}
.booking__inner__content{
    font-size: 1.25rem;
    line-height: 1.35;
}
.booking__inner__content span{
    display: block;
}
.border1{
    margin-bottom: 2em;
    line-height: 0;
    display: block;
    clear: both;
}
.booking__icon__location a{
    color: #175C62;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    line-height: inherit;
    font-weight:normal;
    font-size: 1rem;
    
}
.booking__icon__holder--social span{
    font-size: 1rem ;
    padding-left: .5em;
    color:#175C62;
    line-height: 1.1;
}    
.booking__icon__holder--social:hover span{
    text-decoration: underline;
}
.booking__icon__holder--social:hover{
    cursor: pointer;
    color:lawngreen;
}
.border2{
    margin-bottom: 1em;
}
.border3{
    margin-top: .5em;
    clear: both;
    display:block;
}
.booking__conect{
    margin: 0 -20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 80%;
    
}
.booking__conect__inner{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
}
.content-border{
    border-right: 1px solid black;
    margin-left: -20px;
}
.booking__conect__content{
    border-color: #175c62;
    box-sizing: border-box;
    background-repeat: no-repeat;
    justify-content: center;
}
.booking__conect__content1{
    justify-content: center;
}
.booking__icon__conect a{
    color:#009789;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    line-height: inherit;
    font-weight:normal;
    font-size: 2rem;
}
.booking__icon__holder--conect span{
    font-size: 2rem;
    padding-left: .25em;
    color:#175C62;
    line-height: 1.1;
    font-weight: 700;
}
.booking__icon__holder--conect:hover span{
    text-decoration: underline;

}
.booking__icon__holder--conect:hover{
    color: lawngreen;
}
.booking__login{
    opacity: 1;
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ccc;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 100px;
}
.space1{
    margin-bottom: 45px;
    display: block;
    clear: both;
}
.booking__login__tag h3{
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
    display: block;
    font-family: "Overlock",Arial,Helvetica,sans-serif;

}
.booking__login__subheadline{
    font-size: 1.125rem;
    margin-top: .7em;
    line-height: 1.4;
    font-weight: 500;
    font-style: italic;
    font-family: "Noto Serif",Arial,Helvetica,sans-serif;
}
.wpcf7.screen__response{
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}
.contact__label{
    font-weight: 700;
    font-family: "Overlock",Arial,Helvetica,sans-serif;
    padding-bottom: .5em;
    padding-left: .25em;
    display: inline-block;
}
.contact__name{
    position: relative;

}
.tag-name{
    color: #181818;
    background-color: #fff;
    border-color: #175c62;
    border-radius: 50px;
    outline: none;
    font: inherit;
    line-height: 1;
    width: 100%;
    display: block;
    padding: .8em;
    border: 1px solid rgba(0,0,0,.1);

}
.fancy__select{
    position: relative;
    margin-top: -15px;
}

.contact__name__select{
    width: 100%;
    height: 3.1em;
    border: 1px solid rgba(0,0,0,.1);
    font: inherit;
    display: inline-block;
    border-radius: 50px;
    outline: none;
    font-weight: 400;
    padding: .8em;
}
.tag-name-text{
    resize: vertical;
    line-height: inherit;
    height: 9em;
    border-radius: 20px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}
.tag-send{
    border-radius: 50px;
    font-weight: 700;
    padding: 1.2em 2em !important;
    outline: none;
    font: inherit;
    width: 100%;
    line-height: 1;
    width: 100%;
    display: block;
    padding: .8em;
    background: #175C62;
    color: #FFF;

}
.tag-send:hover {
    color:#175C62;
    background: #FFF;
    cursor: pointer;
}
