/* container services */
.container__services {
    display: block;    
}

.container__services--font {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.container__services--font-heading {
    margin: auto;
    font-family: "Overlock",Arial,Helvetica,sans-serif;
    font-size: 3.75rem;
    line-height: 1.066;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--font-services-info);
}

.container__services--font-heading-content {
    margin: auto;
    font-size: 1.375rem;
    ;
    line-height: 1.4;
    font-family: "Noto Serif",Arial,Helvetica,sans-serif;
    color: var(--font-services-info);
}


.container__services__detail {
    display: flex;
    justify-content: space-between;
}

.container__services__item1,
.container__services__item2,
.container__services__item3,
.container__services__item4 {
    flex-basis: 24%;
    padding: 2em;
    display: block;
    transition: all 600ms ease;
    border-radius: 30px;
}

.container__services__item1 {
    background: linear-gradient(0deg, rgb(186,236,202) 0%, rgb(236,237,162) 100%);
}

.container__services__item2 {
    background: linear-gradient(0deg, rgb(255,209,252) 0%, rgb(250,208,198) 100%);;
}

.container__services__item3 {
    background: linear-gradient(0deg, rgb(172,203,238) 0%, rgb(231,240,253) 100%);
}

.container__services__item4 {
    background: linear-gradient(0deg, rgb(228,238,255) 0%, rgb(241,232,236) 100%);
}


.container__services__item--icon {
    margin-bottom: 30px;
}

.container__services__item--icon i{
    font-size: 70px;
    color: #175C62;
}

.container__services__item--name {
    margin-bottom: 20px;
}

.name--heading {
    font-weight: 600;
    font-family: "Overlock",Arial,Helvetica,sans-serif;
    font-size: 2rem;
    line-height: 1.25;
    color: var(--heading-color);
    display: block;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    min-height: 93.75px;
    text-transform: uppercase;
}

.container__services__item--info {
    color: var(--font-services-info);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5em;
    min-height: 65px;
}

/* button services css */
.container__services__item--button-link {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnservices{
    border-radius: 50px;
    padding: 1.322em 1.5em;
    background-color: #FFF;
    text-align: center;
    color: #175c62;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
}
.btnservices:hover {
    color: #FFF;
}
  .btnservices::after {
    content: "";
    background: #175c62;
    position: absolute;
    z-index: -1;
    display: block;
}
  
.btnservices.container__services__item--button::after {
    transition: all 0.3s ease;
  }
.btnservices.container__services__item--button:hover::after {
    transition: all 0.3s ease-out;
}
  
.btnservices.container__services__item--button::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
}
.btnservices.container__services__item--button:hover::after {
    transform: scale(1, 1);
}

/*programs and products*/
/* .headprd {
    display: flex;
} */

.headprd__content__product {
    display: flex;
}

.headprd__head-font {
    width: 50%;
    padding: 0 20px 0 0;
    min-height: 200px;
    margin: auto;
}

.font-size-hdprd {
    font-size: 3rem;
    line-height: 1.55;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headprd__head-font__info {
    color: var(--font-services-info);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-self: center;
}

.headprd__product__item__hlink {
    color: var(--font-services-info);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    height: fit-content;
    width: 50%;
    padding: 15px 15px;
}

/* Product grid */
.header__product__frame {
    display: flex;
    width: 50%;
    align-self: center;
    margin: 0;
}

.headprd__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.headingprd-first {
    margin-left: 30px;
}

.headprd__product__item--button-link {
    color: var(--font-services-info);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    height: fit-content;
    width: 25%;
    padding: 15px 15px;
}
.headprd__icon-size {
    margin-bottom: 20px;
    font-size: 65px;
}

.product__frame-4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*footer*/
.footer {
    position: relative;
    width: 100%;
    background: #175C62;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -80px;
    padding: 40px 0; 
}
.footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1200px;
}
/* about */
.container__about{
    width: 25%;
    color: #FFF;
    /* margin-left: -50px; */
    line-height: 1.5;
}
.container__about1{
    
    margin-left: -130px;
}
.container__about1 h2{
    position: relative;
    color: #fff;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 40px;
}
.container.container__about::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;

}
.container__about1__list{
    list-style: none;
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
}
.container__about__list--link{
    text-decoration: none;
    color: #FFF;
}
.container__about2{
    margin-left: -50px;
    
}
.container__about2 h2{
    position: relative;
    color: #fff;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 40px;
}
/* content */
.container__content{
    
    margin-left: -90px;
}
.container__content__icon{
    display: flex;
    margin-left: 20px;
}
.container__content h2{
    position: relative;
    color: #fff;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 60px;
}
.container__content__icon li{
    list-style: none;
}
.container__content__icon li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #175C62;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #FFF;

}
.container__content__icon a{
    color: #FFF;
}

.container__content__icon li a:hover{
    background: #FFF;
    color: black;
}


.container__content__icon--call{
    color: #FFF;
    line-height: 2;
    margin-left: 60px;
}
.container__content__icon--mail{
    color: #FFF;
    line-height: 2;
    margin-left: 60px;
}
.container__content__icon--map{
    color: #FFF;
    line-height: 2;
    margin-left: 60px;
}